body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* header */
header {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  color: hsl(243, 87%, 12%);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* main */
main {
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  width: 50%;
  align-items: start;
}
.hero input {
  padding: 10px;
  width: 50%;
  border: 1px solid;

  border-radius: 5px;
}
.signup input::placeholder,
.hero input::placeholder {
  color: hsl(0, 0%, 75%);
  opacity: 0.5;
}

.hero button {
  padding: 10px;
  width: 30%;
  height: 35px;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-img,
.img-2 {
  width: 50%;
  height: auto;
}
.hero-img img,
.img-2 img {
  width: 100%;
}

/* article */
article {
  background-color: #f8f8fe;
  background-size: 100vw;
  display: flex;
  justify-content: center;
}
.article-content {
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.curve {
  width: 100%;
  margin-bottom: -10px;
  height: 100px;
}

.info {
  border-radius: 5px;
  width: 40%;
}
.img-2 {
  width: 40%;
}
.feature a {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  position: relative;
  margin-bottom: 10px;
}
.feature a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(170, 45%, 43%);
}
.sec {
  margin-top: 20px;
  width: 340px;
  height: 200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.sec p {
  margin: 0;
}
.founder {
  display: flex;
  margin: 20px 0;
}
.founder img {
  width: 50px;
  border-radius: 50px;
  margin-right: 25px;
}
.founder p {
  font-weight: 700;
}
.founder p span {
  font-weight: 400;
  font-size: 12px;
}

/* section */
.access {
  background-color: hsl(238, 22%, 44%);
  display: flex;

  color: #fff;
}
.access-div {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 30px 0;
}
.access-info p {
  font-weight: 300;
  font-size: 12px;
}
.signup input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.signup button {
  padding: 10px;
  width: 50%;
  margin-top: 5px;
  height: 35px;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

/* footer */
footer {
  margin: auto;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: hsl(243, 87%, 12%);
}
.footer-logo {
  padding-left: 40px;
}
.footer-logo p {
  text-align: left;
}
.footer-logo p img {
  padding-right: 10px;
}
.topics ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  gap: 50;
}
.topics ul li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: flex-start;
  width: 50%;
}

.topics ul li a {
  color: hsl(240, 75%, 98%);
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.links {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.links i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f8f8fe;
  border-radius: 50%;
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
